* {
  margin: 0;
  padding: 1;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* nav bar */
#logo {
  width: 70px;
  height: auto;
  margin: 0 20px;
}

.navbar {
  background-image: url(../multimedia/fondo.jpg);
  background-position: center;
  background-size: cover;
}

/* nav bar end */
/*  main */
.texto-main {
  font-size: 20px;
}

.fondo {
  background-image: url(../multimedia/pexels-jonathan-borba-2983098.jpg);
  background-position: center;
  background-size: cover;
}

.fondo-texto {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.452);
}

/* main end */
/* footer */
.redes {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 25px;
  background-image: url(../multimedia/twitter-icon-png-12.png);
  background-position: center;
  background-size: contain;
}

.redes-img:hover {
  background-color: rgba(255, 255, 255, 0.46);
}

.redes-img {
  width: 50px;
  height: auto;
  background-color: rgb(255, 255, 255);
}

footer {
  background-image: url(../multimedia/fondo.jpg);
  background-position: center;
  background-size: cover;
  min-height: 10vh;
  border-top: 1px solid #000;
}

/* footer end */
@media screen and (min-width: 720px) {
  .footer-horarios {
    font-size: 20px;
  }
  .footer-seguinos {
    font-size: 24px;
  }
  .titulo-main {
    font-size: 30px;
  }
  .texto-main {
    font-size: 25px;
  }
  .titulo-main-menu {
    font-size: 33px;
  }
}
@media screen and (min-width: 768px) {
  .burger {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-seguinos {
    position: relative;
    left: 30px;
  }
  .nav-li {
    font-size: 22px;
  }
}
@media screen and (min-width: 1400px) {
  #carousel {
    display: flex;
    align-items: center;
  }
  .footer-seguinos {
    position: relative;
    left: 100px;
  }
}
.titulo-burger {
  font-size: 20px;
}

.titulo-main-menu {
  font-size: 25px;
}

.burger:hover {
  transform: scale(1.1);
}

/* media querys */
@media screen and (min-width: 400px) {
  .titulo-burger {
    font-size: 25px;
  }
  .titulo-main-menu {
    font-size: 28px;
  }
}
@media screen and (min-width: 720px) {
  .titulo-main-menu {
    font-size: 33px;
  }
}
@media screen and (min-width: 768px) {
  .burger {
    margin-right: 50px;
  }
}
iframe {
  height: 300px;
  width: 75%;
  margin-bottom: 10px;
}

.fondo-iframes {
  background-color: rgba(0, 0, 0, 0.452);
  padding: 7px 10px;
  border-radius: 7px;
}

.cantidad {
  width: 35px;
  background-color: black;
  color: white;
  border: 1px solid rgba(246, 246, 246, 0.317);
  border-radius: 5px;
}

.fondo-pedidos {
  background-color: rgba(0, 0, 0, 0.452);
}

.btn_pedido {
  width: 70px;
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0px 5px;
  border: 1px solid rgba(246, 246, 246, 0.317);
}

.main_pedido h3 {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 7px 10px;
  border-radius: 7px;
}

.main_pedido {
  min-height: 80vh;
}

.accion_pedido {
  margin-top: 30px;
}

.select_pedido {
  width: 150px;
  margin: 20px 0px 20px 0;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid rgba(246, 246, 246, 0.317);
}

.datos_pedido {
  width: 200px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: 1px solid rgba(246, 246, 246, 0.317);
}

.btn_check {
  font-size: 17px;
}

@media screen and (min-width: 400px) {
  .main_pedido h3 {
    font-size: 26px;
  }
  .datos_pedido {
    width: 250px;
  }
  .select_pedido {
    width: 180px;
    margin-right: 20px;
  }
  .btn_check {
    font-size: 19px;
  }
}
@media screen and (min-width: 720px) {
  .main_pedido h3 {
    font-size: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
