.img_slider {
    height: 450px !important;
}

@media screen and (max-width:1400px) {
    .slider_desktop {
        display: none !important;
    }
}

@media screen and (min-width: 1400px) {
    #carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }


}