.cantidad {
    width: 35px;
    background-color: $fondo_form;
    color: white;
    border: 1px solid $borde_select;
    border-radius: 5px;
}

.fondo-pedidos {
    background-color: $fondo;
}

.btn_pedido {
    width: 70px;
    background-color: $fondo;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0px 5px;
    border: 1px solid $borde_select;
}

.main_pedido {
    h2 {
        font-size: 20px;
        background-color: $fondo;
        padding: 7px 10px;
        border-radius: 7px;

    }
}

#desaparece {
    display: none;
}

.main_pedido {
    min-height: 80vh;
}

.accion_pedido {
    margin-top: 30px;
}

.select_pedido {
    width: 150px;
    margin: 20px 0px 20px 0;
    border-radius: 5px;
    background-color: $fondo_form;
    color: white;
    border: 1px solid $borde_select;
}

.datos_pedido {
    padding: 5px;
    width: 200px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: $fondo_form;
    color: white;
    border: 1px solid $borde_select;
}

.btn_check {
    font-size: 17px;
}

@media screen and (min-width: 400px) {
    .main_pedido {
        h2 {
            font-size: 26px;
        }

    }

    .datos_pedido {
        height: 30px;
        width: 250px;
    }

    .select_pedido {
        height: 30px;
        width: 180px;
        margin-right: 20px;
    }

    .btn_check {
        font-size: 19px;
    }

    .btn_pedido {
        width: 75px;
        height: 25px;
        font-size: 16px;
    }
}

@media screen and (min-width: 565px) {

    .datos_pedido {
        height: 33px;
        width: 250px;
    }

    .select_pedido {
        height: 30px;
        width: 180px;
        margin-right: 20px;
    }

    .btn_check {
        font-size: 20px;
    }

    .btn_pedido {
        width: 77px;
        height: 27px;
        font-size: 17px;
    }
}


@media screen and (min-width: 720px) {
    .main_pedido {
        h2 {
            font-size: 28px;
        }

    }
}

@media screen and (min-width: 768px) {
    #margin_pedidos {
        margin-top: 40px;
    }

    #desaparece {
        text-align: center;
        display: inline-block;
        margin-top: 80px;




        h3 {
            font-size: 19px;
            background-color: $fondo;
            border-radius: 20px;
            padding: 10px;
        }
    }
}

@media screen and (min-width: 1100px) {
    #desaparece {
        h3 {
            width: 500px;
        }
    }
}

@media screen and (min-width: 1400px) {


    .datos_pedido {
        height: 36px;
        width: 260px;
    }

    .select_pedido {
        height: 33px;
        width: 200px;

    }

    .btn_check {
        font-size: 22px;
    }

    .btn_pedido {
        width: 82px;
        height: 30px;
        font-size: 19px;
    }
}