$borde_select: rgba(246, 246, 246, 0.317);

.cantidad {
    width: 35px;
    background-color: black;
    color: white;
    border: 1px solid $borde_select;
    border-radius: 5px;
}

.fondo-pedidos {
    background-color: $fondo;
}

.btn_pedido {
    width: 70px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.main_pedidos {
    min-height: 80vh;
}

.select_pedido {
    width: 150px;
    margin: 20px 0px 20px 0;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid $borde_select;
}

.datos_pedido {
    width: 150px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid $borde_select;
}